<section class="relative h-52 min-w-16">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full"
  >
    <div class="flex flex-col justify-around items-center px-4">
      <span class="text-slate-400">{{ addZero(selectedIndex - 2) }}</span>
      <span class="text-2xl text-slate-300">{{
        addZero(selectedIndex - 1)
      }}</span>
      <span class="text-5xl">{{ addZero(selectedIndex) }}</span>
      <span class="text-2xl text-slate-300">{{
        addZero(selectedIndex + 1)
      }}</span>
      <span class="text-slate-400">{{ addZero(selectedIndex + 2) }}</span>
    </div>
  </div>

  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-transparent"
  >
    <div
      class="no-scrollbar h-full w-full"
      #timeScroll
      (mousewheel)="$event.preventDefault()"
      (scroll)="onScroll($event)"
    >
      @for (option of options; track $index) {
      <div class="text-center text-2xl leading-relaxed snap-center">
        {{ option }}
      </div>
      }
    </div>
  </div>
</section>
